<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>UPDATE EMPLOYEE</h1>
    <form th:object="${employee}" th:action="@{/employee/update}" method="post" enctype="multipart/form-data">
        <input type="hidden" th:field="${employee.employeeId}">
        <table class="table table-bordered">
            <tr>
                <td>Employee Name</td>
                <td><input th:field="*{fullName}"></td>
            </tr>
            <tr>
                <td>Employee Department</td>
                <td>
                    <select th:field="*{department}">
                        <option th:value="null">Choose Department</option>
                        <option th:selected="${dept.departmentId==employee.department.departmentId}"
                                th:each="dept : ${listDepartment}" th:value="${dept.departmentId}"
                                th:text="${dept.departmentName}">
                    </select>
                </td>
            </tr>
            <tr>
                <td>Employee Birthday</td>
                <td><input type="date" th:field="*{birthDay}"></td>
            </tr>
            <tr>
                <td>Employee Position</td>
                <td><input th:field="*{position}"></td>
            </tr>
            <tr>
                <td>Employee Gender</td>
                <td>
                    <input type="radio" th:field="*{gender}" value="true">
                    <label>Male</label>
                    <input type="radio" th:field="*{gender}" value="false">
                    <label>Female</label>
                </td>
            </tr>
            <tr>
                <td>Employee Salary</td>
                <td><input th:field="*{salary}"></td>
            </tr>
            <tr>
                <td>Employee Avatar</td>
                <td><input type="file" name="avatarFile"></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Insert">
                    <input type="reset" value="Clear">
                </td>
            </tr>
        </table>
    </form>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>